* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #122429; }
  header img {
    width: 150px;
    height: 150px; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    header nav ul {
      display: flex;
      margin-top: 0;
      margin-bottom: 1rem;
      flex-direction: row;
      justify-content: space-evenly; }
      header nav ul li {
        margin: 5px;
        list-style: none;
        background-color: #23ff0f; }

.texto h1 {
  text-align: center;
  min-width: 50vh; }

.texto p {
  font-size: 25px;
  font-family: cursive; }

.main-index {
  text-align: center;
  min-width: 50vh;
  background-image: radial-gradient(#04353bab 40%, #00d4ffc2); }
  .main-index .card {
    max-width: 350px;
    margin: 0 auto; }
    .main-index .card h2 {
      font-family: sans-serif; }
      .main-index .card h2:hover {
        background-color: black;
        color: blueviolet; }
