*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#122429;
    img{
        width: 150px;
        height: 150px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    
    ul{ 
            display: flex;
            margin-top: 0;
            margin-bottom: 1rem;
            flex-direction: row;
            justify-content: space-evenly;
    li{
        margin: 5px;
        list-style: none;
        background-color: #23ff0f;
    }
}
}
}
.texto{
        text-align: center;
        min-width: 50vh;
    p{
        font-size: 25px;
        font-family: cursive;
    }
    
}
.main-index{
    text-align: center;
    min-width: 50vh;
    background-image: radial-gradient(#04353bab 40%, #00d4ffc2);
.card{
    max-width: 350px;
    margin: 0 auto;
    h2{
        font-family:sans-serif ;
        &:hover{
            background-color: black;
            color: blueviolet;
        }
    }
}
}
