*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orangered;
    ul{ 
            display: flex;
            margin-top: 0;
            margin-bottom: 1rem;
            flex-direction: row;
            justify-content: space-evenly;
    li{
        list-style: none;
        background-image: radial-gradient(#04353bab 40%, #00d4ffc2);
    }
}
}
.main-index{
    text-align: center;
    min-width: 50vh;
    background-image: radial-gradient(#04353bab 40%, #00d4ffc2);
.card{
    max-width: 350px;
    margin: 0 auto;
    h2{
        font-family:sans-serif ;
        &:hover{
            background-color: black;
            color: blueviolet;
        }
    }
}
}
